//
   Created by kliu on 19/06/2015.

extends base

block template
    div(style="width:50px; height: 50px")
        img.dyr_markup(style="height:100%", src="#{markups[0]}")
    script(src="/brands/1234/1234-1.js")

