//
   Created by kliu on 19/06/2015.

extends ../layout

block content
    if !is_delegation
        script(typ="text/javascript").
             var config = !{configParam};
        script(src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js')
        script(src='/templates/base.js')
        div.template-requirement
            div#start_upload.alert.alert-info
                a
                    |  #{template.requirement}

    block template