.user_stat_panel{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
}

li{
  list-style: none;
}

.kliu-list-item{
    position: relative;
    display:block;
    padding:10px 15px;
    border:1px solid #ddd;
}