//
   Created by kliu on 20/06/2015.

extends ../layout

block content
   section.header
       div.navbar.navbar-default
           div.container(style="height:3em;text-align:center")
               img(src="/images/title.png", height="100%")

   section.container-fluid.user_info
       div.row
           div(style="width:50px; float:left; padding-left:10px")
               img(src=user.iconUrl, style="width:100%")
           div(style="float:left; padding-left:10%;")
                   | #{user.name}

   section.statistics.container(style="padding-top: 20px")
       div.row
           div.col-md-4.col-xs-4.badge
               | something
           div.col-md-8.col-xs-8.stat
               p
                   | 总带盐
               p
                   | 通过    未通过
               p
                   | 平均带盐点击量

   section.container.delegations


