//
   Created by kliu on 20/06/2015.

extends ../layout

block content
   section.header
       div.navbar.navbar-default
           div.container(style="height:3em;text-align:center")
               img(src="/images/title.png", height="100%")

   section.container-fluid.user_info
       div.row
           div(style="width:64px; float:left; margin-left:10%")
               img(src=user.iconUrl, style="width:100%")
           div(style="float:left, margin-left:20px")
               | #{user.name}
