//
   Created by kliu on 18/06/2015.

extends ../layout

block content
   link(rel='stylesheet', href='/brands/1234/index.css')
   script(src='/brands/1234/index.js')

   div
       article.container-fluid.header
           div.row(style="text-align:center")
              div.col-md-8.col-md-offset2.col-xs-10.col-xs-offset-1
                  img(src="/brands/1234/title.png")

       article.container.describtion
           div.row
              section.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
                  p
                     | 花猫辣炒系列深受广大食客喜爱！亲爱的小伙伴么，来帮花猫美食做带盐人吧！

       article.container-fluid
           div.row
              div.col-md-8.col-xs-9
                  img(src="/brands/1234/product-pangxie.png", style="padding:30px 5px 5px 10px")
              div.col-md-4.col-xs-3


