//
   Created by kliu on 18/06/2015.

extends ../layout

block content
   link(rel='stylesheet', href='/brands/1234/index.css')
   script(src='/brands/1234/index.js')

   div
      article.container-fluid.header
         div.row(style="text-align:center")
            div.col-md-8.col-md-offset2.col-xs-10.col-xs-offset-1
               img(src="/brands/1234/title.png")

      article.container.describtion
          div.row
             section.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1
                p
                   | 花猫辣炒系列深受广大食客喜爱！亲爱的小伙伴么，来帮花猫美食做带盐人吧！

   article.container-fluid
      div.row.swap-wrapper(style="padding-top:30px")
         div.col-md-8.col-md-offset-1.col-xs-8.col-xs-offset-1
            img(src="/brands/1234/product-pangxie.png",style="max-width:100%")
         div.col-md-3.col-xs-2
            p
            |  香辣螃蟹

   article.container
      div(style="padding-top:40px")
         div.row
            a.round-button(style="float:right;margin-right:40px")
               | 为ta带盐

